{% extends 'layout.html' %}


		<div id="fh5co-car" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Car Rent In U.S.</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="row row-bottom-padded-md">
					<div class="col-md-6 animate-box">
						<div class="car">
							<div class="one-4">
								<h3>Economy</h3>
								<span class="price">$100<small> / day</small></span>
								<span class="price">$200<small> / week</small></span>
								<span class="price">$250<small> / mois.</small></span>
								<span class="price">$350<small> Total (Tax incl.)</small></span>
							</div>
							<div class="one-1" style="background-image: url(../static/images/car-1.jpg);">
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="car">
							<div class="one-4">
								<h3>Economy</h3>
								<span class="price">$100<small> / day</small></span>
								<span class="price">$200<small> / week</small></span>
								<span class="price">$250<small> / mos.</small></span>
								<span class="price">$350<small> Total (Tax incl.)</small></span>
							</div>
							<div class="one-1" style="background-image: url(../static/images/car-2.jpg);">
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="car">
							<div class="one-4">
								<h3>Luxury</h3>
								<span class="price">$100<small> / day</small></span>
								<span class="price">$200<small> / week</small></span>
								<span class="price">$250<small> / mos.</small></span>
								<span class="price">$350<small> Total (Tax incl.)</small></span>
							</div>
							<div class="one-1" style="background-image: url(../static/images/car-3.jpg);">
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="car">
							<div class="one-4">
								<h3>Economy</h3>
								<span class="price">$100<small> / day</small></span>
								<span class="price">$200<small> / week</small></span>
								<span class="price">$250<small> / mos.</small></span>
								<span class="price">$350<small> Total (Tax incl.)</small></span>
							</div>
							<div class="one-1" style="background-image: url(../static/images/car-4.jpg);">
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="car">
							<div class="one-4">
								<h3>Economy</h3>
								<span class="price">$100<small> / day</small></span>
								<span class="price">$200<small> / week</small></span>
								<span class="price">$250<small> / mos.</small></span>
								<span class="price">$350<small> Total (Tax incl.)</small></span>
							</div>
							<div class="one-1" style="background-image: url(../static/images/car-5.jpg);">
							</div>
						</div>
					</div>
					<div class="col-md-6 animate-box">
						<div class="car">
							<div class="one-4">
								<h3>Economy</h3>
								<span class="price">$100<small> / day</small></span>
								<span class="price">$200<small> / week</small></span>
								<span class="price">$250<small> / mos.</small></span>
								<span class="price">$350<small> Total (Tax incl.)</small></span>
							</div>
							<div class="one-1" style="background-image: url(../static/images/car-6.jpg);">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div id="fh5co-testimonial" style="background-image:url(../static/images/img_bg_1.jpg);">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Happy Clients</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
							<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						</blockquote>
						<p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
							<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
						</blockquote>
						<p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
					</div>
					
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
							<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
						</blockquote>
						<p class="author">John Doe, Founder <a href="#">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
